header {
  height: 10vh;
  background-color: $header_color;
}
.content__left{
  background-color: $nav_color;
  height: 90vh;
}
.content__left__menu{
  height: 10vh;
}
.content__center{
  background-color: $bg_color;

}