@import url('https://fonts.googleapis.com/css?family=Charmonman');
h1{
  font-family: Charmonman;
}
body{
  background-color: #292F32;
}
#first{
  font-weight:100;
  color: white;
}
#second{
  color:#E58A20;
  font-weight: 700;
}
nav {
  display: inline-block;
}