html {
  font-size: 12px;
}
#body {
  width: 100%;
}
.kuba {
  background-color: white;
  width: 85%;
  display: flex;
  margin: 30px;
}
.newSchedule {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;

  .texts__newSchedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #A1A194;
    padding-bottom: 10px;
    width: 80vw;
    h2 {
      color: #FF6600;
      font-size: 2rem;
      font-weight: 500;
    }
    button {
      background-color: #FF6600;
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      height: 2.2rem;
    }
  }

  form {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    div {
        padding: 5px;
    }
  }
  input[type="text"] {
    width:79%;
    height: 20px;
    appearance: none;
  }
  input[type="number"] {
    width: 30px;
    height: 20px;
    appearance: none;

  }
  label {
    display: inline-block;
    width: 150px;
    font-size: 1.5rem;
    color: #A1A194;
  }
}
.schedules__table {
  width: 50%;
}
.schedules__header{
  height: 20px;
  font-weight: bold;
  font-size: 1rem;
  color: #5B605F;
  border-bottom: 1px solid $text_table_color;
  border-top: 1px solid $text_table_color;
  text-align: center;
  padding: 20px 0 5px 0 ;
}
.schedules__table__row td {
  height: 40px;
  width: 100px;
  color: $text_table_color ;
  border-bottom: 1px solid $text_table_color;
  text-align: center;
  padding-top: 20px;
}
select {
  width: 130px;
  height: 25px;
  border-radius: 4px;
  color: #A1A194;
}
th {
  width: 180px;
}
//input[type=number] {
//  -moz-appearance: textfield;
//}
