.widgets {
  width: 30%;
  height: 300px;
  position: absolute;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__box {
      font-size: 1.6rem;
      color: $success_color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
      width: 200px;
      border: 1px dashed $success_color;
      background-color: white;
      margin-right: 20px;
      i {
        margin-bottom: 20px;
        font-size: 3.7rem;
        cursor: pointer;
      }
    }
  }
}

.hide {
  display: none;
}