//colors:

$nav_color: #5B605F; //nav and side panel
$header_color: #4a4a49; //header and columns text
$btn_color: #FF6600;  //btn, highlight, nagłówki ekranów
$screen_bg: #FFFFFA;  //tła ekranów
$info_color: #3498DB; //info, wiadomosci
$warning_color: #FFB03B;  //wiadomosci warning
$success_color: #468966;  ////wiadomosci success
$trash_color: #BD4932;  //kolor ikony kosza
$text_table_color: #A1A194; //ikony rozszerzonych funkcji, kolor tekstu z wierszy w tabelach
$bg_color: #ebebeb;



  //fonts:
$logo_font: "Charmonman", sans-serif;
$text_font: "Open Sans", sans-serif;



